#map {
	height: 500px;
}

ul {
	padding-left: 0px;
	margin-top: 20px;
}

ul:first-child {
	border-top: 1px #004080 solid;
}

#each-pub {
	display: block;
	padding-bottom: 5px;
	padding-top: 5px;
	border-bottom: 1px #004080 solid;
}

.attribution {
	text-align: right;
	padding-top: 15px;
}

#filter-button {
	margin-top: 10px;
	margin-bottom: 10px;
}

.listhide {
	display: none;
}

.menu-button {
	margin-bottom: 10px;
}